<div class="container-fluid level-container">
    <div class="row">
        <div class="col">
            <div>Maybe a prayer icon here idk</div>
            <div>Skill is: <input [(ngModel)]="skill"></div>
        </div>
        <div class="col">
            <label for="playerName">Player Name</label>
            <div class="input-group">
                <input class="form-control" type="text" id="playerName" aria-label="Player Name Input" 
                     (keyup)="onPlayerNameKeyup($event)" [(ngModel)]="playerName">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="onPlayerChange()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <label>Current Level</label>
            <input class="form-control" type="text" aria-label="Current Level Input"
                (keyup)="onCurrentLevelChange()" [(ngModel)]="currentLevel">
        </div>
        <div class="col">
            <label>Target Level</label>
            <input class="form-control" type="text" aria-label="Target Level Input"
                (keyup)="onTargetLevelChange()" [(ngModel)]="targetLevel">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Current Experience</label>
            <input class="form-control" type="text" aria-label="Current experience Input"
                (keyup)="onCurrentExperienceChange()" [(ngModel)]="currentExperience">
        </div>
        <div class="col">
            <label>Target Experience</label>
            <input class="form-control" type="text" aria-label="Target Experience Input"
                (keyup)="onTargetExperienceChange()" [(ngModel)]="targetExperience">
        </div>
    </div>
</div>